body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #93ffaa;
    margin: 0;
    padding: 0;
}

#app {
    margin-top: 50px;
}

#timer {
    font-size: 48px;
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
