body {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    background-color: #50aafb;
    margin: 0;
    padding: 0;
}

#app {
    margin-top: 50px;
}

#timer {
    font-size: 60px;
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #eaeaea;
}

.tab.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
